.center {
    text-align: center; 
    margin-top: 80px;
}



.greetings {
    display: block;
    color: rebeccapurple;
    transition-property: color;
    transition-duration: 0.5s ;
    transition-timing-function: ease;
   
}
.greetings:hover {
    color: yellow;
    transform: rotate(180 deg);
}

.js-input {
    width: 80px;
    height: 35px;
    border-radius: 10px;
}

.js-button {
    width: 80px;
    height: 40px;
    border-radius: 10px;
}

.js-button:hover {
    background-color: green;
}

.foto {
    border-radius: 150px;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    

}

.foto-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

